body {
    background-color: #000000; 
    font-family:"Unbounded"; 
    text-align: center; 
}

h1 {
    color: #ffffff; 
    font-size: 3em; 
    margin-bottom: 0.5em; 
}

p {
    color: #333333; 
    font-size: 1.2em; 
    margin-top: 0; 
}

button {
    background-color: #e32012; 
    color: #FFFFFF; 
    padding: 0.5em 1em; 
    border-radius: 0.3em; 
    font-size: 1.2em; 
    transition: background-color 0.2s ease-in; 
}

button:hover {
    background-color: #000000; 
    cursor: pointer; 
}

@keyframes roll {
    from {
        left: 0; /* starting position: bottom left */
        bottom: 0;
    }
    to {
        left: 100%; /* ending position: bottom right */
        bottom: 0;
    }
}

.pool-ball {
    position: absolute; /* set the position of the ball to absolute */
    left: 0; /* starting position: bottom left */
    bottom: 0;
    width: 50px; /* set the width of the ball */
    animation: roll 2s linear forwards; /* animate the ball with a 2s duration,
     a linear timing function, and keep the end state of the animation */
}
