body {
    background-color: #D3D3D3; 
    font-family: Arial, sans-serif; 
    text-align: center; 
}

h1 {
    color: #e21809; 
    font-size: 3em; 
    margin-bottom: 0.5em; 
}

p {
    color: #333333; 
    font-size: 1.2em; 
    margin-top: 0; 
}

button {
    background-color: #e32012; 
    color: #FFFFFF; 
    padding: 0.5em 1em; 
    border-radius: 0.3em; 
    font-size: 1.2em; 
    transition: background-color 0.2s ease-in; 
}

button:hover {
    background-color: #3E8E41; 
    cursor: pointer; 
}